<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .custom-input-width {
            width: 300px; /* Ustawia szerokość */
        }
        .form-container {
            margin-top: 30px;
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 8px;
        }
    </style>
</head>
<body>
<br>
<div class="container">
    <h2>Anmeldung</h2>

    <div th:if="${param.logout}" class="alert alert-success">
        Sie wurden erfolgreich abgemeldet.
    </div>

    <div th:if="${param.error}" class="alert alert-danger">
        Ungültiger Benutzername oder Passwort. Bitte versuchen Sie es erneut.
    </div>
    <form th:action="@{/login}" method="post" class="form-container">
        <div class="form-group">
            <label for="personalId">Personalnummer</label>
            <input type="text" id="personalId" name="personalId" class="form-control custom-input-width" placeholder="Personalnummer eingeben" required>
        </div>

        <div class="form-group">
            <label for="password">Passwort</label>
            <input type="password" id="password" name="password" class="form-control custom-input-width" placeholder="Passwort eingeben" required>
        </div>

        <button type="submit" class="btn btn-primary">Anmelden</button>
    </form>
</div>
</body>
</html>