<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add Markt</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <h1>add Markt</h1>

    <form th:action="@{/admin/saveMarkt}" method="post">

        <div class="form-group">
            <label for="marktId">Markt id</label>
            <input type="text" id="marktId" name="marktId" class="form-control" th:value="${markt.marktId}" required>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control" th:value="${markt.name}" required>
        </div>

        <div class="form-group">
            <label for="postalCode">Postal Code</label>
            <input type="text" id="postalCode" name="postalCode" class="form-control" th:value="${markt.postalCode}" required>
        </div>
        <div class="form-group">
            <label for="citi">Citi</label>
            <input type="text" id="citi" name="citi" class="form-control" th:value="${markt.citi}" required>
        </div>

        <div class="form-group">
            <label for="street">Street</label>
            <input type="text" id="street" name="street" class="form-control" th:value="${markt.street}" required>
        </div>
        <div class="form-group">
            <label for="buildingNumber">Buil No</label>
            <input type="text" id="buildingNumber" name="buildingNumber" class="form-control" th:value="${markt.buildingNumber}">
        </div>
        <div class="form-group">
            <label for="notes">Notes</label>
            <input type="text" id="notes" name="notes" class="form-control" th:value="${markt.notes}">
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>
