<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation deletion of employee</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .email-highlight {
            color: orange; /* Kolor tekstu */
            font-family: 'Arial', sans-serif; /* Czcionka */
            font-weight: bold; /* Pogrubienie */
        }
    </style>
</head>
<body>
<div class="container centered-content">

    <p>Logged user : <span class="email-highlight" th:text="${fullName}"></span></p>
    <h1 class="mb-4">The markt will be deleted</h1>

    <h2 class="mb-4">Operacja usunięcia Markt</h2>
    <div class="mb-4">
        <p><strong>Markt ID:</strong> <span th:text="${markt.marktId}"></span></p>
        <p><strong>Name:</strong> <span th:text="${markt.name}"></span></p>
        <p><strong>Postal Code:</strong> <span th:text="${markt.postalCode}"></span></p>
        <p><strong>Citi:</strong> <span th:text="${markt.citi}"></span></p>
        <p><strong>Strasse:</strong> <span th:text="${markt.street}"></span></p>
        <p><strong>Hause No:</strong> <span th:text="${markt.buildingNumber}"></span></p>
    </div>

    <form th:action="@{/admin/deleteMarkt}" method="post">
        <input type="hidden" name="marktId" th:value="${markt.marktId}">
        <button type="submit" class="btn btn-danger btn-lg m-2">Delete</button>
    </form>

    <a href="/admin/markets" class="btn btn-success btn-lg m-2">Powrót do listy Markts</a>
</div>
</body>
</html>