<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation deletion of employee</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    .email-highlight {
    color: orange; /* Kolor tekstu */
    font-family: 'Arial', sans-serif; /* Czcionka */
    font-weight: bold; /* Pogrubienie */
    }
    </style>
</head>
<body>
<div class="container centered-content">

    <p>Logged user : <span class="email-highlight" th:text="${fullName}"></span></p>
    <h1 class="mb-4">The user will be deleted</h1>

    <h2 class="mb-4">Operacja usunięcia użytkownika</h2>
    <div class="mb-4">
        <p><strong>Personal ID:</strong> <span th:text="${employee.personalId}"></span></p>
        <p><strong>First Name:</strong> <span th:text="${employee.firstName}"></span></p>
        <p><strong>Last Name:</strong> <span th:text="${employee.lastName}"></span></p>
        <p><strong>Mobil Number:</strong> <span th:text="${employee.mobilNumber}"></span></p>
        <p><strong>Role:</strong> <span th:text="${employee.role}"></span></p>
    </div>
    <form th:action="@{/admin/deleteEmployee}" method="post">
        <input type="hidden" name="personalId" th:value="${employee.getPersonalId}">
        <button type="submit" class="btn btn-danger btn-lg m-2">Delete</button>
    </form>

    <a href="/admin/employees" class="btn btn-success btn-lg m-2">Powrót do listy użytkowników</a>
</div>
</body>
</html>