
<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Employee</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .custom-input-width {
            width: 300px; /* Ustawia szerokość */
        }
        .centered-content {
            margin-top: 50px; /* Odległość od górnej krawędzi */
            text-align: center; /* Wyśrodkowanie zawartości */
        }
        .email-highlight {
            color: orange; /* Kolor tekstu */
            font-family: 'Arial', sans-serif; /* Czcionka */
            font-weight: bold; /* Pogrubienie */
        }
    </style>
</head>

<body>
<div class="container centered-content">

    <!--<p>Logged user : <span class="email-highlight" sec:authentication="name"></span></p>-->
    <p>Logged user : <span class="email-highlight" th:text="${fullName}"></span></p>
    <h1 class="mb-4">The user has been deleted</h1>

    <h2 class="mb-4">Operacja usunięcia użytkownika</h2>



    <div th:if="${message}">
        <p th:text="${message}"></p>
    </div>


    <a href="/admin/employees" class="btn btn-success">Powrót do listy użytkowników</a>
</div>
</body>
</html>
