<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search by KW</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Search Work Days by KW</h1>
    <!--<p>Logged user: <span th:text="${fullName}"></span></p>-->
    <p>Logged user : <span class="email-highlight" th:text="${fullName}"></span></p>
    <form th:action="@{/admin/resultsSearchedPage}" method="get">
        <div class="form-group">
            <label for="KW">KW:</label>
            <input type="number" name="KW" id="KW" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <!--<h2>Results for KW: <span th:text="${KW}"></span></h2>
    <h2>Results for KW </h2>-->

 <!--  <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Start of Work</th>
            <th>End of Work</th>
            <th>Total Distance</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="workDay : ${workDays}">
            <td th:text="${workDay.date}"></td>
            <td th:text="${workDay.startOfWork}"></td>
            <td th:text="${workDay.endOfWork}"></td>
            <td th:text="${workDay.totalDistance}"></td>
            <td th:text="${workDay.notes}"></td>
        </tr>
        </tbody>
    </table>-->
</div>
</div>
</body>
</html>
