<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation deletion of Work Day</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .email-highlight {
            color: orange; /* Kolor tekstu */
            font-family: 'Arial', sans-serif; /* Czcionka */
            font-weight: bold; /* Pogrubienie */
        }
    </style>
</head>
<body>
<div class="container centered-content">

    <p>Logged user : <span class="email-highlight" th:text="${fullName}"></span></p>
    <h1 class="mb-4">The Work Day will be deleted</h1>

    <h2 class="mb-4">Operacja usunięcia Work Day</h2>
    <div class="mb-4">
        <p><strong>Stop ID:</strong> <span th:text="${workDay.id}"></span></p>
    </div>

    <form th:action="@{/deleteWorkDay}" method="post">
        <input type="hidden" name="workDayId" th:value="${workDay.id}">
        <button type="submit" class="btn btn-danger btn-lg m-2">Delete</button>
    </form>
    <!--<a th:href="${role == 'ROLE_ADMIN' ? '/admin/adminPanel' : '/home'}" class="btn btn-primary mb-4">Back to Home</a>-->
    <!--<a href="/summary" class="btn btn-success btn-lg m-2">Powrót</a>-->
    <a th:href="@{/summary(workDayId=${workDay.id})}" class="btn btn-primary">Wroc do Podsumowania</a>
</div>
</body>
</html>