<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Work Day</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Edit Work Day</h2>

    <p th:text="${info}"></p>

    <form th:action="@{/editWorkDay}" method="post">
        <input type="hidden" name="workDayId" th:value="${workDay.id}"/>

        <div class="form-group">
            <label for="startOfWork">Start of Work:</label>
            <input type="datetime-local" id="startOfWork" name="startOfWork" th:value="${workDay.startOfWork}" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="pause">Pause:</label>
            <input type="text" id="pause" name="pause" th:value="${workDay.pause}" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="endOfWork">End of Work:</label>
            <input type="datetime-local" id="endOfWork" name="endOfWork" th:value="${workDay.endOfWork}" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="totalDistance">Total Distance:</label>
            <input type="text" id="totalDistance" name="totalDistance" th:value="${workDay.totalDistance}" class="form-control">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" id="accident" name="accident" class="form-check-input"
                   th:checked="${workDay != null && workDay.accident}">
            <label class="form-check-label" for="accident">Wypadek</label>
        </div>

        <!-- Usterki -->
        <!--<div class="form-group form-check">
            <input type="checkbox" id="faults" name="faults" class="form-check-input">
            <label class="form-check-label" for="faults">Usterki</label>
        </div>-->
        <div class="form-group form-check">
            <input type="checkbox" id="faults" name="faults" class="form-check-input"
                   th:checked="${workDay != null && workDay.faults}">
            <label class="form-check-label" for="faults">Usterki</label>
        </div>
        <div class="form-group">
            <label for="notes">Notes:</label>
            <textarea id="notes" name="notes" class="form-control" th:text="${workDay.notes}"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
        <!--<button type="submit" name="action" value="summary" class="btn btn-info">Wroc do Podsumowania</button>-->
        <!--<a href="/summary" class="btn btn-secondary">Wroc do Podsumowania</a>-->
        <a th:href="@{/summary(workDayId=${workDay.id})}" class="btn btn-primary">Wroc do Podsumowania</a>
        <!--<button onclick="history.back()" class="btn btn-secondary">Go Back</button>-->

    </form>
   <!-- <a href="/home" class="btn btn-primary mb-4">Cancel</a>-->
</div>
</body>
</html>
