<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Route</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Edit Route</h2>

    <p th:text="${info}"></p>

    <!--<form th:action="@{/newRoute/edit}" method="post">-->
        <form th:action="@{/editRoute}" method="post">
        <input type="hidden" name="routeId" th:value="${route.id}"/>
        <input type="hidden" name="workDayId" th:value="${workDay.id}"/>

       <!-- <div class="form-group">
            <label for="truckNumber">Truck Number:</label>
            <input type="text" id="truckNumber" name="truckNumber" th:value="${route.truckNumber}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="trailerNumber">Trailer Number:</label>
            <input type="text" id="trailerNumber" name="trailerNumber" th:value="${route.trailerNumber}" class="form-control" required>
        </div>-->
        <!-- Numer Ciężarówki (rozwijane) -->
        <div class="form-group">
            <label for="truckNumber">Numer Ciężarówki:</label>
            <select id="truckNumber" name="truckNumber" class="form-control custom-input-width" required>
                <option value="">Wybierz ciężarówkę</option>
                <option th:each="truck : ${trucks}"
                        th:value="${truck.number}"
                        th:text="${truck.number}"
                        th:selected="${truck.number == selectedTruckNumber}">
                </option>
            </select>
        </div>

        <!-- Numer Przyczepy (rozwijane) -->
        <div class="form-group">
            <label for="trailerNumber">Numer Przyczepy:</label>
            <select id="trailerNumber" name="trailerNumber" class="form-control custom-input-width" required>
                <option value="">Without Trailer</option>
                <option th:each="trailer : ${trailers}"
                        th:value="${trailer.number}"
                        th:text="${trailer.number}"
                        th:selected="${trailer.number == selectedTrailerNumber}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="routeNumber">Route Number:</label>
            <input type="text" id="routeNumber" name="routeNumber" th:value="${route.routeNumber}" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="startOfRoute">Start of Route:</label>
            <input type="datetime-local" id="startOfRoute" name="startOfRoute" th:value="${route.startOfRoute}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="departureFromTheBase">Departure From The Base:</label>
            <input type="datetime-local" id="departureFromTheBase" name="departureFromTheBase" th:value="${route.departureFromTheBase}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="arrivalToTheBase">Arrival To The Base:</label>
            <input type="datetime-local" id="arrivalToTheBase" name="arrivalToTheBase" th:value="${route.arrivalToTheBase}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="endOfRoute">End Of Route:</label>
            <input type="datetime-local" id="endOfRoute" name="endOfRoute" th:value="${route.endOfRoute}" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a th:href="@{/summary(workDayId=${workDay.id})}" class="btn btn-primary">Wroc do Podsumowania</a>


    </form>
    <!--<a href="/home" class="btn btn-primary mb-4">Cancel</a>-->
</div>
</body>
</html>
