<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Stop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script>
        function updateAddress() {
            const selectElement = document.getElementById('marktId');
            const addressDisplay = document.getElementById('addressDisplay');
            const addressText = document.getElementById('addressText');

            // Pobierz wybrany element
            const selectedOption = selectElement.options[selectElement.selectedIndex];

            // Pobierz adres z atrybutu `data-address`
            const name = selectedOption.getAttribute('data-name');
            const street = selectedOption.getAttribute('data-street');
            const buildingNumber = selectedOption.getAttribute('data-building-number');
            const postalCode = selectedOption.getAttribute('data-postal-code');
            const citi = selectedOption.getAttribute('data-citi');
            const notes = selectedOption.getAttribute('data-notes');

            if (name || street || buildingNumber || postalCode || citi || notes) {
                const fullAddress = `
                ${name ? `Nazwa: ${name}` : ''}<br>
                ${street ? `Ulica: ${street}` : ''} ${buildingNumber ?  ` ${buildingNumber}` : ''}<br>
                ${postalCode ? `Miasto: ${postalCode}` : ''} ${citi ? ` ${citi}` : ''}<br>
                ${notes ? `Notatki: ${notes}` : ''}
            `.trim();

                addressText.innerHTML = fullAddress; // Ustaw treść z HTML-em
                addressDisplay.style.display = 'block';
            } else {
                addressText.textContent = '';
                addressDisplay.style.display = 'none';
            }
        }
    </script>
</head>
<body>
<div class="container">
    <h2>Edit Stop</h2>

    <p th:text="${info}"></p>

    <form th:action="@{/editStop}" method="post">
        <input type="hidden" name="workDayId" th:value="${workDay.id}">
        <!--<input type="hidden" name="routeId" th:value="${route.id}"/>-->
        <input type="hidden" name="stopId" th:value="${stop.id}"/>

        <div class="form-group">
           <label for="marktId">marktId:</label>
            <!--<input type="text" id="marktId" name="marktId" th:value="${stop.marktId}" class="form-control">-->

        <select id="marktId" name="marktId" class="form-control custom-input-width" required onchange="updateAddress()">
            <option value="">Wybierz market</option>
            <option th:each="markt : ${markets}"
                    th:value="${markt.marktId}"
                    th:data-name="${markt.name}"
                    th:data-street="${markt.street}"
                    th:data-building-number="${markt.buildingNumber}"
                    th:data-postal-code="${markt.postalCode}"
                    th:data-citi="${markt.citi}"
                    th:data-notes="${markt.notes}"
                    th:text="${markt.marktId}"
                    th:selected="${markt.marktId == selectedMarktNumber}">
            </option>
        </select>
        </div>
        <div id="addressDisplay" class="form-group" style="display:none;">
            <label>Adres:</label>
            <p id="addressText"></p>
        </div>
        <div class="form-group">
            <label for="beginn">Beginn:</label>
            <input type="datetime-local" id="beginn" name="beginn" th:value="${stop.beginn}" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="endOfStopp">End of Stopp:</label>
            <input type="datetime-local" id="endOfStopp" name="endOfStopp" th:value="${stop.endOfStopp}" class="form-control" required>
        </div>



        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a th:href="@{/summary(workDayId=${workDay.id})}" class="btn btn-primary">Wroc do Podsumowania</a>
        <!--<button type="submit" name="action" value="summary" class="btn btn-info">Wroc do Podsumowania</button>-->

    </form>
   <!-- <a href="/home" class="btn btn-primary mb-4">Cancel</a>-->
</div>
</body>
</html>