<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Stop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background-color: #e9ecef;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
        }

        .custom-input-width {
            width: 300px;
        }

        .form-container {
            margin-top: 30px;
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 8px;
            width: 100%;
        }

        .email-highlight {
            color: #008080;
            font-family: 'Arial', sans-serif;
            font-weight: bold;
        }

        h2 {
            text-align: center;
        }

        .btn-width {
            width: 250px;
        }

        .btn-custom-10 {
            background-color: #696969;
            color: #fff;
        }

        .btn-custom-20 {
            background-color: #a9a9a9;
            color: #fff;
        }

        .btn-custom-30 {
            background-color: #808080;
            color: #fff;
        }

        .btn-custom-70 {
            background-color: #0066FF;
            color: #fff;
        }
    </style>
    <script>

        let markets = [];

        async function fetchMarkets() {
            try {
                const response = await fetch('/admin/getMarkets');
                if (!response.ok) {
                    throw new Error('Error fetching data from the server');
                }
                markets = await response.json();
            } catch (error) {
                console.error('Error:', error);
            }
        }

        document.addEventListener('DOMContentLoaded', async () => {
            await fetchMarkets();
            setupAutocomplete();
            handleMarktSearchInput();
        });

        function setupAutocomplete() {
            const marktSearch = document.getElementById('marktSearch');
            const autocompleteList = document.getElementById('autocomplete-list');

            marktSearch.addEventListener('input', function () {
                const inputValue = this.value.toLowerCase();
                autocompleteList.innerHTML = '';

                if (!inputValue) {
                    autocompleteList.style.display = 'none';
                    return;
                }

                const filteredMarkets = markets.filter(markt => markt.marktId.toLowerCase().startsWith(inputValue));

                if (filteredMarkets.length === 0) {
                    autocompleteList.style.display = 'none';
                    return;
                }

                filteredMarkets.forEach(markt => {
                    const item = document.createElement('div');
                    item.textContent = `${markt.marktId} - ${markt.citi}`;
                    item.addEventListener('click', function () {
                        marktSearch.value = markt.marktId;
                        displayAddress(markt);
                        autocompleteList.style.display = 'none';
                    });
                    autocompleteList.appendChild(item);
                });

                autocompleteList.style.display = 'block';
            });

            document.addEventListener('click', function (event) {
                if (!event.target.closest('.form-group')) {
                    autocompleteList.style.display = 'none';
                }
            });
        }

        function displayAddress(markt) {
            const addressText = document.getElementById('addressText');
            const addressDisplay = document.getElementById('addressDisplay');

            const fullAddress = `
        Name:  ${markt.name}<br>
        Straße:  ${markt.street} ${markt.buildingNumber}<br>
        Stadt:  ${markt.postalCode} ${markt.citi}<br>
        Notizen:  ${markt.notes}
    `.trim();

            addressText.innerHTML = fullAddress;
            addressDisplay.style.display = 'block';
        }

        function handleMarktSearchInput() {
            const marktSearch = document.getElementById('marktSearch');

            marktSearch.addEventListener('blur', () => {
                findAndDisplayAddress(marktSearch.value);
            });

            marktSearch.addEventListener('keydown', (event) => {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    findAndDisplayAddress(marktSearch.value);
                }
            });
        }

        function findAndDisplayAddress(marktId) {
            const selectedMarkt = markets.find(markt => markt.marktId === marktId);
            if (selectedMarkt) {
                displayAddress(selectedMarkt);
            }
        }
    </script>
</head>
<body>
<br>
<div class="container">

    <h1 class="text-center mt-4" style="color: #0066FF; font-weight: bold;">Neue Stopp hinzufungen</h1>
    <p>Benutzer : <span class="email-highlight" th:text="${fullName}"></span></p>

    <form th:action="@{/newStop}" method="post" class="form-container">

        <input type="hidden" name="routeId" th:value="${route.id}"/>
        <input type="hidden" name="workDayId" th:value="${workDay.id}"/>

        <div class="form-group position-relative">
            <label for="marktSearch">Marktnummer</label>
            <input id="marktSearch" name="marktId" class="form-control custom-input-width" autocomplete="off"
                   placeholder="Marktnummer eingeben" required>
            <div id="autocomplete-list" class="autocomplete-list"></div>
        </div>

        <div id="addressDisplay" class="form-group" style="display: none;">
            <label>Adresse:</label>
            <p id="addressText"></p>
        </div>

        <div class="form-group">
            <label for="begin">Stoppbeginn</label>
            <input type="datetime-local" id="begin" name="begin" class="form-control custom-input-width" required>
        </div>

        <div class="form-group">
            <label for="endOfStop">Stoppende</label>
            <input type="datetime-local" id="endOfStop" name="endOfStop" class="form-control custom-input-width"
                   required>
        </div>
        <br>
        <div class="form-group">
            <div class="d-flex justify-content-between w-100 mb-2">
                <button type="submit" name="action" value="addStop" class="btn btn-custom-10 btn-width">Stopp hinzufügen
                </button>
                <button type="submit" name="action" value="addRoute" class="btn btn-custom-20 btn-width">Route hinzufügen
                </button>
            </div>
            <div class="d-flex justify-content-between w-100">
                <button type="submit" name="action" value="summary" class="btn btn-custom-70 btn-width">Speichern
                </button>
                <a th:href="@{/summary(workDayId=${workDay.id})}" class="btn btn-custom-30 btn-width">Abbrechen
                    </a>
            </div>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>