<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        .route-table, .stop-table {
            margin-bottom: 30px;
        }
        .button-container {
            margin-bottom: 10px;
        }
        .btn-space {
            margin-right: 5px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Work Day Summary</h1>
    <p>Logged in user: <strong th:text="${fullName}"></strong></p>

    <h2>Work Day Details</h2>
    <p><strong>Day of Week:</strong> <span th:text="${workDay.getDayOfWeek()}"></span></p>
    <p><strong>Date:</strong> <span th:text="${workDay.date}"></span></p>
    <div class="button-container">
        <a th:href="@{/editWorkDay(id=${workDay.id})}" class="btn btn-warning btn-space">Detail/Edit</a>
        <a th:href="@{/confirmDeletionWorkDay(id=${workDay.id})}" class="btn btn-danger btn-space">Delete</a>
        <a th:href="@{/newRoute(workDayId=${workDay.id})}" class="btn btn-success btn-space">Add Route</a>
    </div>
    <h2>Routes</h2>
    <div th:each="route : ${routes}" class="route-table">
        <h3>Route Number: <span th:text="${route.routeNumber}"></span></h3>
        <!--<p><strong>Truck Number:</strong> <span th:text="${route.truckNumber}"></span></p>
        <p><strong>Trailer Number:</strong> <span th:text="${route.trailerNumber}"></span></p>
        <p><strong>Route Number:</strong> <span th:text="${route.routeNumber}"></span></p>
        <p><strong>Start of Route:</strong> <span th:text="${route.startOfRoute}"></span></p>
        <p><strong>End of Route:</strong> <span th:text="${route.endOfRoute}"></span></p>-->
        <div class="button-container">
            <a th:href="@{/editRoute(id=${route.id},workDayId=${workDay.id})}" class="btn btn-warning btn-space">Detail/Edit</a>
            <a th:href="@{/confirmDeletionRoute(id=${route.id})}" class="btn btn-danger btn-space">Delete</a>
            <a th:href="@{/newStop(routeId=${route.id})}" class="btn btn-success btn-space">Add Stop</a>
        </div>
        <h4>Stops for Route No: <span th:text="${route.getRouteNumber()}"></span></h4>
        <table class="stop-table">
            <thead>
            <tr>
                <!--<th>ID Stop</th>-->
                <th>Market</th>
                <th>Start</th>
                <th>End</th>
                <th>Actions</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="stop : ${route.stops}">
                <td th:text="${stop.marktId}"></td>
                <td th:text="${stop.beginn}"></td>
                <td th:text="${stop.endOfStopp}"></td>
                <td>
                    <div class="button-container">
                        <a th:href="@{/editStop(id=${stop.id},workDayId=${workDay.id})}" class="btn btn-warning btn-space">Details/Edit</a>
                        <a th:href="@{/confirmDeletionStop(id=${stop.id})}" class="btn btn-danger btn-space">Delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="mt-3">
        <a th:href="${role == 'ROLE_ADMIN' ? '/admin/adminPanel' : '/home'}" class="btn btn-primary mb-4">Back to Home</a>
        <a th:if="${role == 'ROLE_ADMIN'}" th:href="@{/admin/searchByCustomArguments}" class="btn btn-secondary btn-space">Back to Search</a>
        <!--<a href="/home" class="btn btn-primary">Go to Home</a>-->
    </div>
</div>
</body>
</html>