<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Dzień Pracy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .custom-input-width {
            width: 300px; /* Ustawia szerokość pól */
        }

        .form-container {
            margin-top: 30px;
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 8px;
        }
        .table-container {
            margin-top: 30px;
        }
        .message {
            margin-top: 20px;
        }
        .email-highlight {
            color: orange; /* Kolor tekstu */
            font-family: 'Arial', sans-serif; /* Czcionka */
            font-weight: bold; /* Pogrubienie */
        }
    </style>
</head>
<body>
<br>
<div class="container">
    <h1>ADD NEW WORK DAY</h1>
    <p>Logged user : <span class="email-highlight" th:text="${fullName}"></span></p>

    <!-- Jeśli istnieje komunikat o błędzie -->
    <div th:if="${error}" class="alert alert-danger">
        <p th:text="${error}"></p>
    </div>

    <form th:action="@{/workDay}" method="post" class="form-container">
        <!-- Personal ID -->
        <div class="form-group">
            <input type="text" id="personalId" name="personalId" class="form-control custom-input-width"th:value="${personalId}" readonly />
            <label class="form-label" for="personalId">ID Osobiste:</label>
            <!--<input type="text" id="personalId" name="personalId" class="form-control custom-input-width" placeholder="ID Osobiste" required>
            <label class="form-label" for="personalId">ID Osobiste</label>-->
        </div>

        <!-- Data -->
       <!-- <div class="form-group">
            <input type="datetime-local" id="date" name="date" class="form-control custom-input-width" placeholder="Data" required>
            <label class="form-label" for="date">Data</label>
        </div>-->

        <!-- Dzień Tygodnia -->
        <!--<div class="form-group">
            <input type="number" id="dayOfWeek" name="dayOfWeek" class="form-control custom-input-width" placeholder="Dzień Tygodnia" required>
            <label class="form-label" for="dayOfWeek">Dzień Tygodnia</label>
        </div>-->
        <div class="form-group">
            <label class="form-label" for="dayOfWeekName">Dzień Tygodnia</label>
            <select id="dayOfWeekName" name="dayOfWeekName" class="form-control custom-input-width" required>
                <option value="choose day of week">---------</option>
                <option value="MONDAY">Poniedziałek</option>
                <option value="TUESDAY">Wtorek</option>
                <option value="WEDNESDAY">Środa</option>
                <option value="THURSDAY">Czwartek</option>
                <option value="FRIDAY">Piątek</option>
                <option value="SATURDAY">Sobota</option>
                <option value="SUNDAY">Niedziela</option>
            </select>
        </div>
        <!-- Początek Pracy -->
       <!-- <div class="form-group">
            <input type="datetime-local" id="startOfWork" name="startOfWork" class="form-control custom-input-width" placeholder="Początek Pracy" required>
            <label class="form-label" for="startOfWork">Początek Pracy</label>
        </div>-->
        <div class="form-group">
            <input type="datetime-local" id="startOfWork" name="startOfWork" class="form-control custom-input-width"
                   th:value="${workDay != null ? workDay.startOfWork : ''}" placeholder="Początek Pracy" required>
            <label class="form-label" for="startOfWork">Początek Pracy</label>
        </div>
        <!-- Przerwa -->
       <!-- <div class="form-group">
            <input type="text" id="pause" name="pause" class="form-control custom-input-width" placeholder="Przerwa">
            <label class="form-label" for="pause">Przerwa</label>
        </div>-->
        <div class="form-group">
            <input type="text" id="pause" name="pause" class="form-control custom-input-width"
                   th:value="${workDay != null ? workDay.pause : ''}" placeholder="Przerwa">
            <label class="form-label" for="pause">Przerwa</label>
        </div>
        <!-- Koniec Pracy -->
        <!--<div class="form-group">
            <input type="datetime-local" id="endOfWork" name="endOfWork" class="form-control custom-input-width" placeholder="Koniec Pracy" required>
            <label class="form-label" for="endOfWork">Koniec Pracy</label>
        </div>-->
        <div class="form-group">
            <input type="datetime-local" id="endOfWork" name="endOfWork" class="form-control custom-input-width"
                   th:value="${workDay != null ? workDay.endOfWork : ''}" placeholder="Koniec Pracy" required>
            <label class="form-label" for="endOfWork">Koniec Pracy</label>
        </div>
        <!-- Całkowity Dystans -->
       <!-- <div class="form-group">
            <input type="text" id="totalDistance" name="totalDistance" class="form-control custom-input-width" placeholder="Całkowity Dystans">
            <label class="form-label" for="totalDistance">Całkowity Dystans</label>
        </div>-->
        <div class="form-group">
            <input type="text" id="totalDistance" name="totalDistance" class="form-control custom-input-width"
                   th:value="${workDay != null ? workDay.totalDistance : ''}" placeholder="Całkowity Dystans">
            <label class="form-label" for="totalDistance">Całkowity Dystans</label>
        </div>
        <!-- Wypadek -->
        <!--<div class="form-group form-check">
            <input type="checkbox" id="accident" name="accident" class="form-check-input">
            <label class="form-check-label" for="accident">Wypadek</label>
        </div>-->
        <div class="form-group form-check">
            <input type="checkbox" id="accident" name="accident" class="form-check-input"
                   th:checked="${workDay != null && workDay.accident}">
            <label class="form-check-label" for="accident">Wypadek</label>
        </div>

        <!-- Usterki -->
        <!--<div class="form-group form-check">
            <input type="checkbox" id="faults" name="faults" class="form-check-input">
            <label class="form-check-label" for="faults">Usterki</label>
        </div>-->
        <div class="form-group form-check">
            <input type="checkbox" id="faults" name="faults" class="form-check-input"
                   th:checked="${workDay != null && workDay.faults}">
            <label class="form-check-label" for="faults">Usterki</label>
        </div>
        <!-- Notatki -->
        <!--<div class="form-group">
            <textarea id="notes" name="notes" class="form-control custom-input-width" placeholder="Notatki"></textarea>
            <label class="form-label" for="notes">Notatki</label>
        </div>-->
        <div class="form-group">
            <textarea id="notes" name="notes" class="form-control custom-input-width"
                      th:text="${workDay != null ? workDay.notes : ''}" placeholder="Notatki"></textarea>
            <label class="form-label" for="notes">Notatki</label>
        </div>

        <!-- Przyciski -->
        <button type="submit" class="btn btn-primary">Dodaj/Edytuj Dzień Pracy</button>
    </form>
</div>

<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
</body>
</html>

